body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

.banner {
    width: 100%;  
   margin: auto;
}

.banner > .banner-image {
     width: 100%;
     display: block;
}

.text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -34%;
}

.text-wrapper h1 {
    text-align: center;
    color: #ffffff;
    font-size: 100px;
    font-family: 'lobster', 'cursive';
    margin-top: 240px;  
    margin-bottom: 0px;
}

.text-wrapper p {
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-family: 'lobster', 'cursive';
    margin-top: 0px;
}

.dubaishiz {
float: left;
padding-left: 84px;
padding-top: 70px;
padding-bottom: 70px;
padding-right: 70px;
}

.taiwanshiz{
float: left;
padding-right: 90px;
padding-left: 90px;
padding-top: 70px;
padding-bottom: 70px;
}

.phillishiz{
float: left;
padding-right: 84px;
padding-left: 70px;
padding-top: 70px;
padding-bottom: 70px;
}

.widget-title {
    color: #000;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    font: 13px Roboto, sans-serif;
    letter-spacing: 3px;
    margin: 0 0 15px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
}

.dubaipic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;
    border-radius: 50%;
    border: 3px solid #8c8c8c;
    transition: all .5s;
}

.taiwanpic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;
    border-radius: 50%;
    border: 3px solid #8c8c8c;
    transition: all .5s;
}

.phillipic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;
    border-radius: 50%;
    border: 3px solid #8c8c8c;
    transition: all .5s;
}

.dubaipic:hover {
transform: scale(1.1) rotate(360deg);
}

.taiwanpic:hover {
transform: scale(1.1) rotate(360deg);
}

.phillipic:hover {
transform: scale(1.1) rotate(360deg);
}

@media(max-width: 768px) {
    .banner, .banner-image {
        display: block;
        height: 300px;
        width: 900px
    }

     .text-wrapper h1 {
        display: inline;
        -webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
    }

    .text-wrapper p {
        display: block;
        padding-right: 150px
    }   

    .dubaishiz {
        padding-left: 235px;
    }

    .taiwanshiz {
        padding-left: 235px;
    }

    .phillishiz {
        padding-left: 235px;
    }
}

@media(max-width: 568px) {
    .banner, .banner-image {
        display: block;
        height: 250px;
        width: 900px
    }

    .text-wrapper{
        margin-top: -220px;
    }

    .text-wrapper h1 {
        font-size: 75px;
        margin-top: 50px;
    }

    .text-wrapper p {
        font-size: 35px;
        text-align: left;
        padding-left: 15px;
    }
     
     .dubaishiz {
        display: block;
        float: left;
        height: 354px;
        padding-bottom: 70px;
        padding-left: 150px;
        padding-right: 70px;
        padding-top: 70px;
        width: 306px;
     }

     .taiwanshiz {
        display: block;
        float: left;
        height: 354px;
        padding-bottom: 70px;
        padding-left: 150px;
        padding-right: 70px;
        padding-top: 70px;
        width: 306px;
     }

     .phillishiz {
        display: block;
        float: left;
        height: 354px;
        padding-bottom: 70px;
        padding-left: 150px;
        padding-right: 70px;
        padding-top: 70px;
        width: 306px;
     }

}